  credentials/
  archive/                                                                                                                                                                                                                                                                  
  live/                
  accounts/
  EOF

